Package: com.jixify.patcher
Name: jixify
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: jixify
Author: jixify
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
